.login-page {
    display: flex;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 20%;
    border-radius: 20px;
    box-shadow: 35px 35px 70px #bebebe, -35px -35px 70px #ffffff;
    .about-section {
        width: 50%;
        background-image: url("../assets/images/login-bg.jpg");
        background-size: cover;
        border-radius: inherit;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
    }
    .form-section {
        height: 100%;
        width: 50%;
        padding: 2rem;
    }
    .action-button-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
